/Performance/.vs
/Performance/Binaries
/Performance/Intermediate
/Performance/Intermediate/Build/Win64
/Performance/Plugins/DAI_PerfMngr/Intermediate
/Performance/Plugins/DAI_PerfMngr/Binaries
/Performance/Saved
